body{
    background-color: #0A1F44;
    color:#C9A24D;
    font-family: Arial;
}
.container{
    text-align: center;
}
.section{
    text-align:center;
    margin: 20px 0;
}
.nav a{
    color:orange;
    margin: 0 5px;
}
.nav a:hover{
    text-decoration: underline;
}
img{
    border: 2px solid #C9A24D;
}
table{
    margin:auto;
}
th{
    background-color: #2454A2;
    color:white;
}
td,th{
    padding: 8px;
}
input{
    padding:5px;
}
.footer{
    background-color: #2454A2;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}
